
.sideBar {
  $padding-right: clamp(1rem, 2.054945055vw + 1rem, 4rem);
  $margin-inline: clamp(5px, 5.054945055vw + 5px, 36px);
  $min-width: clamp(5px, 5.054945055vw + 5px, 20px);
  $duration: 0.25s;
  $timing-func-default: cubic-bezier(0.93, 0.28, 0.72, 0.71);

  position: fixed;
  background-color: hsl(167, 60%, 14%);
  width: calc(($margin-inline * 2) + $min-width);
  max-width: inherit;
  transition: all $duration;
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  transition-timing-function: $timing-func-default;

  .icon {
    position: absolute;
    top: 10%;

    background-color: tomato;
    color: white;
    &.opened {
      right: 0;
    }
    &.closed {
      left: 100%;
    }
  }

  &.active-sidebar {
    width: max-content;
    border-top-right-radius: 10vh;

    .pages-links {
      ul {
        li {
          a {
            span {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  img {
    width: 100%;
  }

  .pages-links {
    ul {
      list-style: none;
      padding-left: 0px;

      li {
        padding-block: 6px;
        padding-right: $padding-right;
        margin-block: 8px;
        text-wrap: nowrap;
        overflow: hidden;

        a {
          font-size: 1rem;
          color: white;
          text-decoration: none;
          i {
            font-size: 1.2rem;
            min-width: $min-width;
            margin-inline: $margin-inline;
            color: white;
          }
          span {
            display: inline-block;
            vertical-align: top;
            transform: translateX(calc($margin-inline / -2));
            opacity: 0;
            transition: all $duration;
            -webkit-transition: all $duration;
            -moz-transition: all $duration;
            transition-timing-function: $timing-func-default;
          }
        }

        &:has(a.active-link) {
          background-color: hsla(149, 100%, 29%, 0.1);
          border-left: 3px solid hsl(149, 100%, 29%);

          i {
            margin-left: calc($margin-inline - 3px);
          }
        }
      }
    }
  }
}

ul{
  list-style: none;
  padding: 0;
  li{

    padding:0.5rem;

    a{
      display: block;
      text-decoration: none;
      color:#fff;
      
      border-radius: 8px;
      padding:5px 10px;

      &.active-link{
        background-color: hsla(35, 87%, 55%, 0.302);
      }
    }
  }
}

