.sideBar {
  $padding-right: clamp(1rem, 2.054945055vw + 1rem, 4rem);
  $margin-inline: clamp(5px, 5.054945055vw + 5px, 20px);
  $duration: 0.25s;
  // $timing-func-default: cubic-bezier(0.93, 0.28, 0.72, 0.71);
  $timing-func-default: linear;

  position: fixed;
  background-color: hsl(167, 60%, 14%);
  min-width: fit-content;
  max-width: fit-content;
  transition: width $duration;
  -webkit-transition: width $duration;
  -moz-transition: width $duration;
  transition-timing-function: $timing-func-default;
  transition-delay: calc((2 * $duration) / 3);

  &.active-sidebar {
    // width: fit-content;

    .pages-links {
      ul {
        li {
          a {
            span {
              //display: inline-block;
              width: 100%;
              opacity: 1;
              padding-right: $padding-right;
              //position: static;
            }
          }
        }
      }
    }
  }

  .icon {
    position: absolute;
    top: 5%;

    background-color: hsla(35, 87%, 55%);
    color: white;
    transition: right $duration, left $duration;
    -webkit-transition: right $duration, left $duration;
    -moz-transition: right $duration, left $duration;
    transition-timing-function: $timing-func-default;
    &.opened {
      right: 0;
    }
    &.closed {
      left: 100%;
    }
  }

  .pages-links {
    ul {
      list-style: none;
      padding-left: 0px;

      li {
        padding: 6px;
        text-wrap: nowrap;
        overflow: hidden;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          color: white;
          text-decoration: none;
          border-radius: 8px;
          padding: 0.5em;

          i {
            color: white;
            margin-inline: $margin-inline;
          }
          span {
            // display: none;
            //transform: translateX(calc($margin-inline / -2));
            // position: absolute;
            width: 0;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition: width $duration, opacity $duration, padding $duration;
            -webkit-transition: width $duration, opacity $duration,
              padding $duration;
            -moz-transition: width $duration, opacity $duration,
              padding $duration;
            transition-timing-function: $timing-func-default;
          }

          &.active-link {
            background-color: hsla(35, 87%, 55%, 0.302);
          }
        }
      }
    }
  }
}
