ul{
  list-style: none;
  padding: 0;
  li{

    padding:0.5rem;

    a{
      display: block;
      text-decoration: none;
      color:#fff;
      
      border-radius: 8px;
      padding:5px 10px;

      &.active-link{
        background-color: hsla(35, 87%, 55%, 0.302);
      }
    }
  }
}

