
<!--change password-->
<section>
    <div>
      <div class="section-header">
        <a
          role="button"
          [routerLink]="['/dashboard/manager/tasks']"
          class="text-decoration-none text-reset"
        >
          <i class="fa-1x fa-light fa-arrow-left pe-1"></i> Back Home
        </a>
        <h2>Change Password</h2>
      </div>
      <form  [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)"
       class=" d-flex align-items-center justify-content-center ">
        <mat-card class="w-75 p-4  mt-3 ">
          <mat-card-content>
            <!--old password-->
            <mat-form-field class="w-100"  appearance="outline" >
                <mat-label>Old Password</mat-label>
                <input
                  formControlName="oldPassword"
                  matInput
                  [type]="isShownOLd ? 'password' : 'text'"
                  placeholder="Enter Your Password"
                />
                <button type="button"
                  mat-icon-button
                  matSuffix
                  (click)="isShownOLd = !isShownOLd"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="isShownOLd"
                >
                  <mat-icon class="text-main">{{
                    isShownOLd ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-hint
                  *ngIf="
                    changePasswordForm.get('oldPassword')?.errors &&
                    changePasswordForm.get('oldPassword')?.touched
                  "
                  class="text-danger"
                >
                  <ng-container *ngIf="changePasswordForm.get('oldPassword')?.getError('required')">
                    *Old Password is Requierd
                  </ng-container>
              
                </mat-hint>
              </mat-form-field>
              <!--new password-->
              <mat-form-field class="w-100"  appearance="outline" >
                <mat-label>New Password</mat-label>
                <input
                  formControlName="newPassword"
                  matInput
                  [type]="isShownNew ? 'password' : 'text'"
                  placeholder="Enter Your Password"
                />
                <button type="button"
                  mat-icon-button
                  matSuffix
                  (click)="isShownNew = !isShownNew"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="isShownNew"
                >
                  <mat-icon class="text-main">{{
                    isShownNew ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-hint
                  *ngIf="
                    changePasswordForm.get('newPassword')?.errors &&
                    changePasswordForm.get('newPassword')?.touched
                  "
                  class= "text-danger"
                >
                  <ng-container *ngIf="changePasswordForm.get('newPassword')?.getError('required')">
                    *New Password is Requierd
                  </ng-container>
                  <ng-container *ngIf="changePasswordForm.get('newPassword')?.getError('pattern')">
                  
                "Hint :Password must contain caplital, small letters ,numbers and special character "

                  </ng-container>
                </mat-hint>
              </mat-form-field>          
         <!--confirm password-->
         <mat-form-field class="w-100"  appearance="outline" >
            <mat-label>Confirm New Password</mat-label>
            <input
              formControlName="confirmNewPassword"
              matInput
              [type]="isConfirm ? 'password' : 'text'"
              placeholder="Enter Your Password"
            />
            <button type="button"
              mat-icon-button
              matSuffix
              (click)="isConfirm = !isConfirm"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isConfirm"
            >
              <mat-icon class="text-main">{{
                isConfirm ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-hint
              *ngIf="
                changePasswordForm.get('confirmNewPassword')?.errors &&
                changePasswordForm.get('confirmNewPassword')?.touched
              "
              class="text-danger"
            >
              <ng-container *ngIf="changePasswordForm.get('confirmNewPassword')?.getError('required')">
                * Password is Requierd
              </ng-container>
              <ng-container *ngIf="changePasswordForm.get('confirmNewPassword')?.getError('pattern')">
              
                "Hint :Password must contain caplital, small letters ,numbers and special character "
              </ng-container>
            </mat-hint>
          </mat-form-field>
          </mat-card-content>
          <mat-card-actions 
          class="d-flex justify-content-between align-content-center px-4 py-1 pb-4">
            <a
              role="button"
              [routerLink]="['/dashboard/home']"
              class="outline-btn text-decoration-none px-4"
            >
              Cancel
            </a>
            <button type="submit" class="main-btn px-5"
            
          [disabled]="!changePasswordForm.valid"
            >Save</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </section>


  

