<section>
  <div>
    <div class="section-header">
      <h2>Projects</h2>
    </div>
    <div class="p-4">
      <mat-card>
        <mat-card-header>
          <mat-form-field appearance="outline" class="w-25">
            <button mat-icon-button matPrefix>
              <mat-icon>search</mat-icon>
            </button>
            <mat-label>Search</mat-label>
            <input
              matInput
              type="text"
              placeholder="Search"
              [(ngModel)]="params.title"
              (keyup.enter)="getProjects()"
            />
            <button
              *ngIf="params.title"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetSearchInput()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-header>
        <mat-card-content>
          <div class="m-0 overflow-x-auto">
            <app-table [table]="table"></app-table>
            <mat-paginator
              *ngIf="table.data.length"
              [length]="pagination.totalNumberOfRecords"
              [pageSize]="pagination.pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="changePage($event)"
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
