th{
    background-color:  rgba(49, 89, 81, 0.9) !important;
    color:#fff ;
     border: 1px solid rgba(25, 61, 57, 0.9) !important;
}
.status{
    color:#fff ;
    border-radius: 18px;
    padding: 10px 15px;
   &.active{
    background-color: rgba(0, 146, 71, 1);
    ;
   }
   &.notActive{
  background-color: rgba(146, 46, 37, 0.7)
   }
   

    }