.home{
  background-image: url('../../../../../assets/images/home-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  color:#fff;

  h2, h3{
    font-weight: 300;
  }
}
