<section class="task-board">
    <div>
        <div class="section-header">
            <h2>Task Board</h2>
        </div>
        <ng-container  *ngIf="listOfTasks.length > 0">
            <div class="p-4">
                <mat-card>
                    <mat-card-content>
                        <div cdkDropListGroup class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>To do</h2>
                                    <div cdkDropList
                                        (cdkDropListDropped)='onDrop($event ,"ToDo")'
                                        class="task-container">
                                        <div class="task"
                                            *ngFor="let item of filterTasks('ToDo')"
                                            (cdkDragStarted)="onDrag(item)"
                                            cdkDrag>{{item.title}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
    
                                    <h2>In Progress</h2>
    
                                    <div class="task-container"
                                        cdkDropList
                                        (cdkDropListDropped)='onDrop($event ,"InProgress")'>
    
                                        <div class="task"
                                            *ngFor='let item of filterTasks("InProgress")'
                                            (cdkDragStarted)="onDrag(item)"
                                            cdkDrag>{{item.title}}</div>
    
                                    </div>
                                </div>
                                <div class="col-md-4">
    
                                    <h2>Done</h2>
    
                                    <div
                                        cdkDropList
                                        class="task-container"
                                        (cdkDropListDropped)='onDrop($event ,"Done")'>
                                        <div class="task"
                                            *ngFor='let item of filterTasks("Done")'
                                            (cdkDragStarted)="onDrag(item)"
                                            cdkDrag>{{item.title}}</div>
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
    
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
        <ng-container *ngIf="listOfTasks.length === 0 ">
         <div class="container mt-5 h-50">
            <div class="row ">
                <div class="col-md-12 d-flex align-items-center justify-content-between">
                    <div>
                        <h5 >
                            You don't have any task yet :)
                        </h5>
                    </div>
                   <div>
                    <button class="btn main-btn"  routerLink="/dashboard/home">Go home</button>
                   </div>
               
                </div>
            </div>
         </div>
        </ng-container>
       
    </div>
</section>
