<section class="auth">
  <div class="container">
    <div class="row vh-100 align-items-center">
      <div class="col-md-8 mx-auto">

        <div class="text-center mb-3">
          <img src="../../../assets/images/PMS 3.svg" alt="">
        </div>
        <div class="auth-card p-5">
          <p>welcome to PMS</p>
          <h2>Login</h2>

          <form [formGroup]="loginForm" (ngSubmit)="sendLoginForm()">
            <div>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput placeholder="Enter Your Email">
              </mat-form-field>
            </div>
            <div *ngIf="loginForm.get('email')?.errors&&loginForm.get('email')?.touched" class="text-center fw-bold">
              <p *ngIf="loginForm.get('email')?.getError('required')">* Email is Requierd</p>
              <p *ngIf="loginForm.get('email')?.getError('email')">* Email Invalid Format</p>
            </div>

            <div>
              <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Your Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon class="text-white">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div *ngIf="loginForm.get('password')?.errors&&loginForm.get('password')?.touched" class="text-center fw-bold">
              <p *ngIf="loginForm.get('password')?.getError('required')">* Password is Requierd</p>
              <p *ngIf="loginForm.get('password')?.getError('pattern')">* Must be Contain Uppercase Letter, Lowercase Letter, Numeric Value, Special Symbol(!@#$%^&*_+=-) and the total length should be between 8 - 16</p>
            </div>
            <div class="links">
              <a href="">Register Now?</a>
              <a href="">Forgot Password</a>
            </div>

            <div class="text-center">
              <button [disabled]="loginForm.invalid" class="main-btn w-100 mt-4">Login</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</section>
