<section>
  <p>welcome to PMS</p>
  <h2>Forget Password</h2>

  <form [formGroup]="requestForm" (ngSubmit)="sendRequestForm()">
    <div>
      <mat-form-field appearance="fill" class="w-100 mt-3">
        <mat-label>E-mail</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Enter Your Email"
        />
        <mat-hint
          *ngIf="
            requestForm.get('email')?.errors && requestForm.get('email')?.touched
          "
          class="text-center text-white"
        >
          <ng-container *ngIf="requestForm.get('email')?.getError('required')">
            * Email is Requierd
          </ng-container>
          <ng-container *ngIf="requestForm.get('email')?.getError('email')">
            * Email Invalid Format
          </ng-container>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="links">
      <a routerLink="../reset">Already send request?</a>
    </div>

    <div class="text-center">
      <button [disabled]="requestForm.invalid" class="main-btn w-100 mt-4">
        Verify
      </button>
    </div>
  </form>
</section>
