:root {
  --imagePath: "";
}

$default-font-size: 18px;
$default-line-height: 25px;
$default-color: hsl(240, 3%, 23%);
$default-bg-color: hsl(0, 0%, 94%);
$default-border: 1.6px solid $default-color;
$default-border-radius: 0.375rem;
$default-padding: 8px;
