.auth{
    background-image: url(../../../../../assets/images/bg1.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .auth-card{
    background-color: rgba(49, 89, 81, 0.898);
    border-radius: 16px;
  
    p{
      color:#fff;
      margin:0
    }
    h2{
      color:#EF9B28;
      &::first-letter{
        border-bottom: 4px solid #EF9B28;
      }
    }
  
    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
      background-color: transparent;
    }
  
    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
      color:#fff
    }
  
    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
      color:#fff
    }
  
    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label{
      color:#fff
    }
  
    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above{
      color:#EF9B28
    }
  
    .links{
      margin-top:20px;
      display:flex;
      justify-content: space-between;
      a{
        color:#fff;
        text-decoration: none;
      }
    }
  }
  
  .main-btn{
    border:none;
    padding:15px;
    color:#fff;
    background-color: #EF9B28;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.4s;
    font-size: 18px;
    &:hover{
      opacity: .8;
    }
    &:disabled{
      cursor: not-allowed;
    }
  }

  .errors{
    color: rgb(247, 72, 72);
  }
  .valid{
     color: #EF9B28;
  }